{{template "header"}}

<title>首页-我的 Beego 博客</title>
<body>

    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            {{template "navbar" .}}
        </div>
    </div>

    <div class="container" style="margin-top: 51px">
        <div class="page-header">
            <h1>我的第一篇博客</h1>
            <h6 class="text-muted">文章发表与 2014年 X月 X日 xx:xx. 共有 100 次浏览, 200个评论</h6>
            <p>
                大家好,这是我的第一篇博客,多谢观看.
            </p>
        </div>
    </div>
</body>

{{template "footer"}}
